<div class="item-page">
  <p class="item-page-title">Project 04</p>
  <img src="assets/img/project04/01.jpg"><br />
  <br />
  <b>瘦身系統</b><br />
  <br />
  利用 HTML5、CSS3、JS、JQuery、Cordova 開發手機 App，<br />
  透過手機來控制機器，紀錄過程且能得到回饋。<br />
  <br />
  <b>負責部分</b><br />
  <br />
  前端語言撰寫、使用者介面設計、圖示創作。<br />
  <br />
  以下為系統介面圖：<br />
  <br />
  <img src="assets/img/project04/02.jpg">
  <img src="assets/img/project04/03.jpg">
  <img src="assets/img/project04/04.jpg">
  <img src="assets/img/project04/05.jpg">
</div>
