<div class="item-page">
    <p class="item-page-title">Six Spots</p>
    <img src="assets/img/spots/all_spots.jpg">
    <video class="demo-vid-big" playsinline autoplay muted loop>
      <source src="assets/vid/spots.mp4" type="video/mp4">
    </video>
    <video class="demo-vid-little" playsinline autoplay muted loop>
      <source src="assets/vid/spots_little.mp4" type="video/mp4">
    </video>
    <img src="assets/img/spots/spots01.jpg">
    <img src="assets/img/spots/spots02.jpg">
    <img src="assets/img/spots/spots03.jpg">
    <img src="assets/img/spots/spots04.jpg">
    <img src="assets/img/spots/i_spots01.jpg">
    <img src="assets/img/spots/i_spots02.jpg">
    <img src="assets/img/spots/i_spots03.jpg">
    <img src="assets/img/spots/m_spots01.jpg">
    <img src="assets/img/spots/m_spots02.jpg">
    <img src="assets/img/spots/m_spots03.jpg">
    <img src="assets/img/spots/m_spots04.jpg">
  </div>
  