<div class="item-page">
  <p class="item-page-title">Bags Shop</p>
  <img src="assets/img/bag/all_bag.jpg">
  <video class="demo-vid-big" playsinline autoplay muted loop>
    <source src="assets/vid/bag.mp4" type="video/mp4">
  </video>
  <img src="assets/img/bag/bag01.jpg">
  <img src="assets/img/bag/bag02.jpg">
  <img src="assets/img/bag/bag03.jpg">
  <img src="assets/img/bag/bag04.jpg">
  <img src="assets/img/bag/bag05.jpg">
  <img src="assets/img/bag/i_bag01.jpg">
  <img src="assets/img/bag/i_all_bag.jpg">
  <img src="assets/img/bag/m_bag01.jpg">
  <img src="assets/img/bag/m_all_bag.jpg">
</div>
