<div class="item-page">
  <p class="item-page-title">Sri Lanka</p>
  <img src="assets/img/lanka/all_lanka.jpg">
  <video class="demo-vid-big" playsinline autoplay muted loop>
    <source src="assets/vid/lanka.mp4" type="video/mp4">
  </video>
  <video class="demo-vid-little" playsinline autoplay muted loop>
    <source src="assets/vid/lanka_little.mp4" type="video/mp4">
  </video>
  <img src="assets/img/lanka/lanka01.jpg">
  <img src="assets/img/lanka/lanka02.jpg">
  <img src="assets/img/lanka/lanka03.jpg">
  <img src="assets/img/lanka/i_lanka01.jpg">
  <img src="assets/img/lanka/i_all_lanka.jpg">
  <img src="assets/img/lanka/m_lanka01.jpg">
  <img src="assets/img/lanka/m_all_lanka.jpg">
</div>
