<div class="item-page">
  <p class="item-page-title">Design and Redesign</p>
  <p class="item-page-little">Card：2016 Christmas</p>
  <img src="assets/img/other02/001.png">
  <br />
  <p class="item-page-little">Card：Graduation Invitation</p>
  <img src="assets/img/other02/002.png">
  <br />
  <p class="item-page-little">Card：2015 Christmas</p>
  <img src="assets/img/other02/003.png">
  <br />
  <p class="item-page-little">Card：Computer and Mobile Connection</p>
  <img src="assets/img/other02/004.png">
  <img src="assets/img/other02/005.png">
  <br />
  <p class="item-page-little">CSI：a. Furniture</p>
  <img src="assets/img/other02/006.png">
  <img src="assets/img/other02/007.png">
  <img src="assets/img/other02/008.png">
  <br />
  <p class="item-page-little">Poster：White Noise</p>
  <img src="assets/img/other02/009.png">
  <img src="assets/img/other02/010.png">
  <br />
  <p class="item-page-little">Poster：Classic Games</p>
  <img src="assets/img/other02/011.png">
  <img src="assets/img/other02/012.png">
  <br />
  <p class="item-page-little">Poster：Four Weird Behaviors</p>
  <img src="assets/img/other02/013.png">
  <img src="assets/img/other02/014.png">
  <img src="assets/img/other02/015.png">
  <img src="assets/img/other02/016.png">
  <br />
  <p class="item-page-little">Poster：Cats are God</p>
  <img src="assets/img/other02/017.png">
  <img src="assets/img/other02/018.png">
  <br />
  <p class="item-page-little">Book：43 days in China (Diary)</p>
  <img src="assets/img/other02/019.png">
  <br />
  <p class="item-page-little">Book：43 days in China (Pictures)</p>
  <img src="assets/img/other02/020.png">
  <img src="assets/img/other02/021.png">
  <img src="assets/img/other02/022.png">
  <br />
  <p class="item-page-little">Book：Japan</p>
  <img src="assets/img/other02/023.png">
  <img src="assets/img/other02/024.png">
  <img src="assets/img/other02/025.png">
  <br />
  <p class="item-page-little">Book：Spring Scream</p>
  <img src="assets/img/other02/026.png">
  <img src="assets/img/other02/027.png">
  <img src="assets/img/other02/028.png">
  <br />
  <p class="item-page-little">Book：Surroundings</p>
  <img src="assets/img/other02/029.png">
  <img src="assets/img/other02/030.png">
  <img src="assets/img/other02/031.png">
  <br />
  <p class="item-page-little">DM：Dao Cheng Ya Ding</p>
  <img src="assets/img/other02/032.png">
  <img src="assets/img/other02/033.png">
  <img src="assets/img/other02/034.png">
  <img src="assets/img/other02/035.png">
  <img src="assets/img/other02/036.png">
  <br />
  <p class="item-page-little">DM：Concrete</p>
  <img src="assets/img/other02/037.png">
  <img src="assets/img/other02/038.png">
  <img src="assets/img/other02/039.png">
  <br />
  <p class="item-page-little">Redesign：Travel Guide</p>
  <img src="assets/img/other02/040.png"><br />
  <br />
  規劃自助旅行時看建網路上的觀光資訊超亂，<br />
  整張景區地圖滿滿的都是顏色和照片，<br />
  過多的資訊會讓人不知道從何下手開始規劃行程。<br />
  <br />
  參考很多現有版本的地圖後刪掉無用的資訊，<br />
  讓剛看到地圖的人能清楚的瞭解景區及路線，<br />
  重新設計的地圖包括「張家界、九寨溝、黃龍」三個熱門景點。<br />
  <br />
  <img src="assets/img/other02/041.png"><br />
  <br />
  中心為著名景點、主要觀光路線、河道等。<br />
  左上為方位；<br />
  左下為比例尺及海拔高度，九寨溝及黃龍可能會有高山症；<br />
  右上為標題和景區相關的重要聯絡電話；<br />
  右下為圖示說明。<br />
  而另一面亦有圖樣設計，捕捉對景點的印象並簡化為圖形。<br />
  <br />
  <img src="assets/img/other02/042.png">
  <img src="assets/img/other02/043.png">
  <img src="assets/img/other02/044.png">
  <img src="assets/img/other02/045.png">
  <img src="assets/img/other02/046.png">
  <br />

  
  <br />
</div>