<div class="item-page">
  <p class="item-page-title">Ya Ding</p>
  <img src="assets/img/yading/all_yading.jpg">
  <video class="demo-vid-big" playsinline autoplay muted loop>
    <source src="assets/vid/yading.mp4" type="video/mp4">
  </video>
  <video class="demo-vid-little" playsinline autoplay muted loop>
    <source src="assets/vid/yading_little.mp4" type="video/mp4">
  </video>
  <img src="assets/img/yading/yading01.jpg">
  <img src="assets/img/yading/yading02.jpg">
  <img src="assets/img/yading/yading03.jpg">
  <img src="assets/img/yading/yading04.jpg">
  <img src="assets/img/yading/yading05.jpg">
  <img src="assets/img/yading/yading06.jpg">
  <img src="assets/img/yading/m_yading01.jpg">
  <img src="assets/img/yading/m_all_yading.jpg">
</div>
