<div class="item-page">
  <p class="item-page-title">Some Views</p>
  <img src="assets/img/view/all_view.jpg">
  <video class="demo-vid-big" playsinline autoplay muted loop>
    <source src="assets/vid/view.mp4" type="video/mp4">
  </video>
  <video class="demo-vid-little" playsinline autoplay muted loop>
    <source src="assets/vid/view_little.mp4" type="video/mp4">
  </video>
  <img src="assets/img/view/view01.jpg">
  <img src="assets/img/view/view02.jpg">
  <img src="assets/img/view/view03.jpg">
  <img src="assets/img/view/view04.jpg">
  <img src="assets/img/view/view05.jpg">
  <img src="assets/img/view/view06.jpg">
  <img src="assets/img/view/view07.jpg">
  <img src="assets/img/view/view08.jpg">
  <img src="assets/img/view/m_view01.jpg">
  <img src="assets/img/view/m_view02.jpg">
  <img src="assets/img/view/m_view03.jpg">
  <img src="assets/img/view/m_view04.jpg">
  <img src="assets/img/view/m_view05.jpg">
</div>
