/* You can add global styles to this file, and also import other style files */
@import url('assets/font/Jaldi.css');
@import url('assets/font/NotoSansTc.css');

* {
    margin: 0;
    padding: 0;
    font-family: 'Jaldi', 'Noto Sans Tc';
}
::selection {
	-moz-user-select: none;
	-webkit-user-select: none;
}
a {
    color: #143C23;
    text-decoration: none;
    font-size: 20pt;
}
body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    font-size: 14pt;
    color: #143C23;
}
.item-page, .page-effect {
    position: absolute;
    top: 0;
    left: 0;
}
.item-page {
    z-index: 1;
    width: 800px;
    padding: 0 100px 200px 100px;
    background: #FFF;
}
.item-page-little {
    font-size: 30pt;
    text-align: center;
    padding: 50px 0 20px 0;
}
.page-effect {
    z-index: 2;
    height: 100%;
    background: #87AFA0;
    width: 0;
}
.openPageEffect {
    animation: widthEffect 2s forwards;
}
.closePageEffect {
    animation: widthEffect 2s reverse forwards;
}
video {
	margin: 5%;
	max-width: 90%;
	width: auto;
	height: auto;
    box-shadow: 0 0 10px #DDD;
    opacity: 0;
    animation: fadeInEffect 1s 2.5s forwards;
}
.item-page img {
    width: 100%;
    opacity: 0;
    animation: fadeInEffect 1s 2.5s forwards;
}
.item-page-title {
    margin: 5% auto;
    width: 70%;
    font-size: 40pt;
    line-height: 200%;
    color: #FFF;
    background: #87AFA0;
    box-shadow: 10px 10px 0 #E1EBE6;
    text-align: center;
    opacity: 0;
    animation: fadeInEffect 1s 2s forwards;
}
.item-for-shadow img {
    box-shadow: 0 5px 10px #EEE;
}
.item-two-img img {
	vertical-align: top;
    display: inline-block;
    width: 45%;
    margin: 0 2%;
}
@keyframes widthEffect {
    0% {
        width: 0;
        left: 0;
    }
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0%;
        left: 100%;
    }
}
@keyframes fadeInEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* RWD */
@media screen and (min-width: 1441px) and (max-width: 1680px) {

    .item-page {
        width: 690px;
        padding: 0 80px 200px 80px;
    }
    .item-page-little {
        font-size: 30pt;
    }
    .item-page-title {
        width: 70%;
        font-size: 36pt;
    }
}
@media screen and (min-width: 1281px) and (max-width: 1440px) {
    a {
        font-size: 18pt;
    }
    .item-page {
        width: 590px;
        padding: 0 80px 200px 80px;
    }
    .item-page-little {
        font-size: 26pt;
    }
    .item-page-title {
        width: 70%;
        font-size: 32pt;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
    a {
        font-size: 16pt;
    }
    .item-page {
        width: 500px;
        padding: 0 50px 150px 50px;
    }
    .item-page-little {
        font-size: 24pt;
    }
    .item-page-title {
        width: 70%;
        font-size: 28pt;
    }
}

@media screen and (min-width: 0px) and (max-width: 1024px) {
    body {
        font-size: 12pt;
    }
    a {
        font-size: 16pt;
    }
    .item-page {
        position: relative;
        width: 100%;
        padding: 0 0 150px 0;
    }
    .item-page-little {
        font-size: 20pt;
    }
    .item-page-title {
        width: 70%;
        font-size: 24pt;
    }
}

@media screen and (min-width: 0px) and (max-width: 640px) {
    body {
        font-size: 10pt;
    }
    a {
        font-size: 14pt
    }
    .item-page-little {
        font-size: 16pt;
    }
    .item-page-title {
        font-size: 18pt;
    }
}