#wei {
    z-index: -1;
    position: absolute;
    left: 100px;
    font-size: 150pt;
    line-height: 120pt;
    font-weight: 700;
    color: #E1EBE6;
    animation: fromTtoB 2.5s forwards;
}
#main {
    width: 1500px;
    margin: auto;
    background: none;
    opacity: 0;
    animation: fadeInEffect 2s forwards;
}
#header {
    float: left;
    width: 400px;
}
#content {
    position: relative;
    width: 1000px;
    padding-bottom: 400px;
}
#routeContainer {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}
.item-box {
    display: inline-block;
}
.item {
    display: inline-flex;
    display: -webkit-inline-flex;
    position: relative;
    width: 300px;
    height: 300px;
    margin: 15px;
    justify-content: center;
    align-items: center;
}
.item img {
    width: 100%;
}
.item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    background: rgba(255, 255, 255, .7);
    transition: height .5s ease;
}
.item-name {
    z-index: 1;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
}
.item:hover {
    cursor: pointer;
}
.item:hover .item-name {
    opacity: 1;
}
.item:hover::after {
    height: 100%;
}
.category-title {
    font-size: 30pt;
    text-align: center;
    padding: 5% 0 0 0;
    color: #87AFA0;
}
#categoryLine-box {
    position: relative;
    position: fixed;
    top: 550px;
    left: 550px;
    width: 3px;
    height: 200px;
    background: #E1EBE6;
    text-align: center;
    opacity: 0;
    animation: fromBtoT 1s 2s forwards;
}
#categoryLine-box-line {
    position: absolute;
    top: 0;
    left: -1px;
    width: 5px;
    height: 50px;
    background: #87AFA0;
    transition: top 0.5s;
}
.categoryLine {
    margin-left: -13.5px;
    width: 30px;
    height: 50px;
}
.categoryLine:hover {
    cursor: pointer;
}
#clickItemBan {
    display: none;
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
}
#closePage {
    display: none;
    position: absolute;
    position: fixed;
    top: 550px;
    left: 450px;
    width: 150px;
    line-height: 150px;
    font-size: 60pt;
    text-align: center;
    opacity: 0;
    animation: fromBtoT 1s 1s forwards;
}
#closePage:hover {
    cursor: pointer;
}
#categoryLine-box.fadeOutEffect, #closePage.fadeOutEffect {
    animation: fadeOutEffect 1s forwards;
}
@keyframes fromTtoB {
    from {
        opacity: 0;
        top: 0;
    }
    to {
        opacity: 1;
        top: 70px;
    }
}
@keyframes fromBtoT {
    from {
        opacity: 0;
        top: 600px;
    }
    to {
        opacity: 1;
        top: 550px;
    }
}
@keyframes fadeOutEffect {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/* RWD */
@media screen and (min-width: 1681px) {
    #content {
        margin-left: 500px;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1680px) {

    #wei {
        font-size: 120pt;
        line-height: 95pt;
        left: 70px;
    }
    #main {
        width: 1200px;
    }
    #content {
        width: 850px;
        margin-left: 400px;
    }
    .item {
        width: 250px;
        height: 250px;
    }
    .category-title {
        font-size: 28pt;
    }
    #categoryLine-box {
        top: 480px;
        left: 425px;
    }
    #closePage {
        top: 480px;
        left: 350px;
        width: 120px;
        line-height: 120px;
        font-size: 54pt;
    }
    @keyframes fromBtoT {
        from {
            opacity: 0;
            top: 530px;
        }
        to {
            opacity: 1;
            top: 480px;
        }
    }
}
@media screen and (min-width: 1281px) and (max-width: 1440px) {
    #wei {
        font-size: 100pt;
        line-height: 80pt;
        left: 60px;
    }
    #main {
        width: 1000px;
    }
    #content {
        width: 750px;
        margin-left: 320px;
    }
    .item {
        width: 230px;
        height: 230px;
        margin: 10px;
    }
    .category-title {
        font-size: 26pt;
    }
    #categoryLine-box {
        top: 450px;
        left: 350px;
    }
    #closePage {
        top: 450px;
        left: 280px;
        width: 120px;
        line-height: 120px;
        font-size: 50pt;
    }
    @keyframes fromBtoT {
        from {
            opacity: 0;
            top: 500px;
        }
        to {
            opacity: 1;
            top: 450px;
        }
    }
    @keyframes fromTtoB {
        from {
            opacity: 0;
            top: 0;
        }
        to {
            opacity: 1;
            top: 50px;
        }
    }
}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
    #wei {
        font-size: 80pt;
        line-height: 60pt;
        left: 50px;
    }
    #main {
        width: 1000px;
    }
    #content {
        width: 600px;
        margin-left: 350px;
    }
    .item {
        width: 280px;
        height: 280px;
        margin: 10px;
    }
    .category-title {
        font-size: 24pt;
    }
    #categoryLine-box {
        top: 450px;
        left: 190px;
    }
    #closePage {
        top: 450px;
        left: 130px;
        width: 100px;
        line-height: 150px;
        font-size: 40pt;
    }
    @keyframes fromBtoT {
        from {
            opacity: 0;
            top: 500px;
        }
        to {
            opacity: 1;
            top: 450px;
        }
    }
    @keyframes fromTtoB {
        from {
            opacity: 0;
            top: 0;
        }
        to {
            opacity: 1;
            top: 50px;
        }
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    #wei {
        font-size: 80pt;
        line-height: 60pt;
        left: 50px;
    }
    #main {
        width: 1000px;
    }
    #content {
        width: 600px;
        margin-left: 350px;
    }
    .item {
        width: 280px;
        height: 280px;
        margin: 10px;
    }
    .category-title {
        font-size: 24pt;
    }
    #categoryLine-box {
        top: 450px;
        left: 190px;
    }
    #closePage {
        top: 450px;
        left: 130px;
        width: 100px;
        line-height: 150px;
        font-size: 40pt;
    }
    @keyframes fromBtoT {
        from {
            opacity: 0;
            top: 500px;
        }
        to {
            opacity: 1;
            top: 450px;
        }
    }
    @keyframes fromTtoB {
        from {
            opacity: 0;
            top: 0;
        }
        to {
            opacity: 1;
            top: 50px;
        }
    }
}
@media screen and (min-width: 0px) and (max-width: 1024px) {
    #wei {
        z-index: 99;
        position: fixed;
        left: 40px;
        font-size: 50pt;
        line-height: 100px;
        animation: none;
    }
    #wei br {
        display: none;
    }
    #main {
        width: 90%;
    }
    #header {
        z-index: 99;
        position: relative;
        position: fixed;
        clear: left;
        top: 0;
        width: 90%;
        height: 100px;
        background: #FFF;
    }
    #content {
        width: 100%;
        margin: auto;
        margin-top: 100px;
    }
    #categoryLine-box {
        position: absolute;
        top: 50px;
        left: auto;
        right: 30px;
        width: 200px;
        height: 3px;
        text-align: left;
        animation: fromRtoL30 1s 1s forwards;
    }
    #categoryLine-box-line {
        margin-top: -1px;
        left: 0;
        width: 50px;
        height: 5px;
        transition: left 0.5s;
    }
    .category-title {
        font-size: 20pt;
    }
    .categoryLine {
        display: inline-block;
        margin-top: -20px;
        margin-left: -4px;
        width: 50px;
        height: 40px;
    }
    .item {
        width: 41.5vw;
        height: 41.5vw;
        margin: 1vw;
    }
    #closePage {
        z-index: 100;
        top: 25px;
        left: auto;
        right: 80px;
        width: 50px;
        line-height: 50px;
        font-size: 30pt;
        animation: fromRtoL80 1s 1s forwards;
    }
    .item::after, .item-name {
        display: none;
    }
    @keyframes fromRtoL30 {
        from {
            opacity: 0;
            right: 0px;
        }
        to {
            opacity: 1;
            right: 30px;
        }
    }
    @keyframes fromRtoL80 {
        from {
            opacity: 0;
            right: 50px;
        }
        to {
            opacity: 1;
            right: 80px;
        }
    }
}

@media screen and (min-width: 641px) and (max-width: 800px) {
    #wei {
        font-size: 40pt;
    }
}
@media screen and (min-width: 361px) and (max-width: 640px) {
    #wei {
        left: 25px;
        font-size: 30pt;
        line-height: 70px;
    }
    #header {
        height: 70px;
    }
    #content {
        margin-top: 70px;
    }
    #categoryLine-box {
        display: none;
    }
    #categoryLine-box-line {
        display: none;
    }
    .categoryLine {
        display: none;
    }
    .item {
        width: 41vw;
        height: 41vw;
        margin: 1vw;
    }
    #closePage {
        top: 15px;
        right: 30px;
        width: 40px;
        line-height: 40px;
        font-size: 20pt;
        animation: fromRtoL30 1s 1s forwards;
    }
}
@media screen and (min-width: 0px) and (max-width: 360px) {
    #wei {
        left: 20px;
        font-size: 28pt;
        line-height: 60px;
    }
    #header {
        height: 60px;
    }
    #content {
        margin-top: 60px;
    }
    #categoryLine-box {
        display: none;
    }
    #categoryLine-box-line {
        display: none;
    }
    .category-title {
        font-size: 18pt;
    }
    .categoryLine {
        display: none;
    }
    #closePage {
        top: 15px;
        right: 30px;
        width: 30px;
        line-height: 30px;
        font-size: 18pt;
        animation: fromRtoL30 1s 1s forwards;
    }
}